* {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Ubuntu';
}

.flex-section-main {
    display: flex;
    flex-flow: wrap column;
    align-content: center;
    justify-content: center;
    background-color: white;
    height: 50rem; 
}

.flex-section {
    display: flex; 
    flex-flow: wrap column;
    align-content: center;
    justify-content: center;
    height: 45rem;
    background-color: #ededed;
    margin: 0 5%;
}

.flex-div {
   display: flex;
   flex-flow: wrap row;
   justify-content: center;
   align-content: space-around;
   align-self: center;
   background-color: #ededed;
   width: 90%;  
   height: 40.5rem;
} 

.flex-divs {
    display: flex;
    box-sizing: border-box;
    height:  18.75rem;
    width:  22.37rem;
    margin: 10px;
    padding: 17px;
    border-radius: 5px;
}

.cards {
    display: flex;
    align-self: flex-end;
    width: 100%;
    justify-content: space-between;
    color: white;    
}

.sub-div-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    color: white;
}

.imagem {
  background-image: url("./images/three-g16fb1d366_640.jpg"); 
  background-size: cover;
}
.imagem-2 {
    background-image: url("./images/man-g8ba6a86ce_1280.jpg");
    background-size: cover;
}
.imagem-3 {
    background-image: url("./images/female-g93dbac839_1280.jpg");
    background-size: cover;
}
.imagem-4 {
    background-image: url("./images/modelo4.jpg");
    background-size: cover;
    background-position: center;
}
.imagem-5 {
    background-image: url("./images/feet-g4f33e1281_1280.jpg");
    background-size: cover;
}

.imagem-6 {
    background-image: url("./images/adult-g76e97d62f_1280.jpg");
    background-size: cover;
}

.tema {
    font-family: serif;
    font-weight: 500;
}

.produto {
    font-size: 18px;
}

.valor {
   font-size: 24px;
   font-weight: 700;
   text-align: right;
}

.preco-conteiner {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

@media screen and (max-width: 768px) {
    * {
        overflow: auto;
    }  
    
    .flex-section {
        width: 45rem;
    }

     .flex-div {
        align-content: initial; 
        height: initial;
    }  
    
    h2 {
        padding-left: 13%;
        font-size: 18px;
        text-align: center;
    }

    .flex-divs {
        width: 29.37rem;
        margin: initial;
    }
   
}

@media screen and (max-width: 575px) and (min-width: 425px) {
    * {
        overflow: auto;
    }  

    .flex-div {
        align-content: initial; 
        height: 21.5rem;
    }  
 
    .flex-section {
        width: 22rem;
        height: 46rem;
    }

    h2 {
        padding-left: 12%;
        font-size: 18px;
        text-align: center;
    }

    .flex-section-main {
        height: 50rem;
        width: 27rem;
    }

    .flex-divs{
        width: 21.37rem;
    }
}

@media screen and (max-width: 375px) {
    .flex-section-main {
       height: 49rem; 
       width: 25rem;
    }
    
    .flex-section {
        height: 45rem;
        width: 24rem;
    }

    .flex-divs {
        width: 22.37rem;
        height: 15.75rem;
    }  
}

@media screen and (max-width: 320px) {
    .flex-section-main {
        height: 50rem;
         width: 18rem;
    }
    
    .flex-section {
        height: 41rem;
        width: 16rem;
    }

    .flex-divs {
        width: 16.37rem;
        height: 15.75rem;
    }
}